<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>app.alfred.stephenc.wordcount</string>
	<key>category</key>
	<string>Universal Action</string>
	<key>connections</key>
	<dict>
		<key>645F6DE3-586C-4C79-99FC-FE9FB8819591</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CF0AFB89-59D4-4303-8D76-B1E08055A855</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>_button2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CF0AFB89-59D4-4303-8D76-B1E08055A855</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>01F211DC-11F2-4747-ABA3-45D43090E83C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D214F710-337A-4880-99AD-BB804C800E58</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>645F6DE3-586C-4C79-99FC-FE9FB8819591</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E5D7021E-2777-45A5-87F0-E89E08AA218B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D214F710-337A-4880-99AD-BB804C800E58</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Stephen Christy</string>
	<key>description</key>
	<string>Display word count of selected text</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Word count</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/text-processing/text.metrics</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>D214F710-337A-4880-99AD-BB804C800E58</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Word count</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>E5D7021E-2777-45A5-87F0-E89E08AA218B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>The number of words ({query}) has been copied to the clipboard.</string>
				<key>title</key>
				<string>Word count</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>01F211DC-11F2-4747-ABA3-45D43090E83C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>CF0AFB89-59D4-4303-8D76-B1E08055A855</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>button1</key>
				<string>Quit the workflow</string>
				<key>button2</key>
				<string>Copy result to clipboard</string>
				<key>button3</key>
				<string></string>
				<key>description</key>
				<string>The selected text contains {query} words.

What would you like to do next?</string>
				<key>title</key>
				<string>Word count</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.dialog</string>
			<key>uid</key>
			<string>645F6DE3-586C-4C79-99FC-FE9FB8819591</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Usage

This Universal Action is available for selected text and returns the word count in a dialog box. There is an option to copy the result to the clipboard.

---
**Note:** If you have not previously used `Automation Taks` in any Alfred workflow you may need to doouble click on the `Automation Task` in this workflow and then choose `Update Tasks` at the bottom of the left hand pane to ensure tasks are up to date.
---
**Version 2.0** 23/08/2022: substituted `Dialog Conditional` action for AppleScript dialog and added option to copy to clipboard.

**Version 2.1** 24/08/2022: added warning about updating `Automation Tasks`.

**Version 2.11** 26/08/2022: annotated workflow.

**Version 2.12** 17/10/2022: updated icon.

**Version 2.13** 17/10/2022: improved updated icon.

**Verstion 2.14** 10/11/2022: added new icon.

**Version 2.15** 17/01/2023: updated bundle identifier.</string>
	<key>uidata</key>
	<dict>
		<key>01F211DC-11F2-4747-ABA3-45D43090E83C</key>
		<dict>
			<key>note</key>
			<string>…and confirm it's done so</string>
			<key>xpos</key>
			<real>780</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>645F6DE3-586C-4C79-99FC-FE9FB8819591</key>
		<dict>
			<key>note</key>
			<string>Quit or copy to clipboard</string>
			<key>xpos</key>
			<real>405</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
		<key>CF0AFB89-59D4-4303-8D76-B1E08055A855</key>
		<dict>
			<key>note</key>
			<string>Copy count to clipboard…</string>
			<key>xpos</key>
			<real>585</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>D214F710-337A-4880-99AD-BB804C800E58</key>
		<dict>
			<key>note</key>
			<string>Automation Task to get word count</string>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>E5D7021E-2777-45A5-87F0-E89E08AA218B</key>
		<dict>
			<key>note</key>
			<string>Universal Action on selected text</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2.15</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
